body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 220);
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weatherForm{
  margin:20px;

}
.cityinput{
 padding:10px;

 font-size:2rem;
 font-weight:bold;
 border: 2px solid;
 border-radius: 10px;
margin:10px;
width:300px;

}
button[type="submit"]{
    padding:10px 20px;
    font-weight: bold;
    font-size:2rem;
    background-color: rgb(116, 243, 116);
    color:white;
    border-radius:none;
    border-radius: 5px;
    cursor:pointer;

    

}
button[type="submit"]:hover{
    background-color: rgb(12, 104, 12);
}
.card{padding:50px;box-shadow:2px 2px 5px rgb(124, 201, 206);
    background:linear-gradient(180deg,rgb(135, 135, 223),rgb(157, 109, 20));
display:flex;
min-width:300px;
 flex-direction: column;
 align-items: center;
 border-radius: 10px;

}
h1{
    font-size:3.5rem;
    margin-top:0;
    margin-bottom:25px;

}
p{
    font-size:1.5rem;
    margin:5px 0;
  
}
.Humiditydisplay{
font-weight: bold;
margin-bottom:25px;

}
.descDisplay{
    font-style:italic;
    font-weight: bold;
    font-size:2rem;
}
.weatheremoji{
    margin:0;
    font-size:7.5rem;

}
.errordisplay{
    font-size:2.5rem;font-weight:bold;
    color:rgb(49, 47, 47);

}
.citydisplay,.tempdisplay{
    font-size:3.5rem;
    font-weight: bold;
    color:black;
    margin-bottom: 25;
}